.home-container {
  padding: 2%;
  padding-top: 5%;
  height: 90%;
  width: 80%;
  display: flex;
}

.stock-client {
  width: 65%;
  margin-right: 10px;
  position: relative;
}

.chat-client {
  margin-left: 60px;
  width: 40%;
  position: relative;
}