
.trigger-container {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 15px;
    /* height: 25px; */
}

.trigger-container button{
    /* height: 20px; */
    color: "blue";
}

.search-inner {
    margin-bottom: 5px;
}

/* .ProfileNavBar{
    display: flex;
    width: 30%;
    height: 0%;
    flex-direction: column;
} */
h1{
    width: 80%;
    height: 0%;
}

.search{
    display: flex;
    flex-direction: row;
}